<div class="relative">
  <label *ngIf="label" class="block text-sm font-medium">{{ label }}</label>
  <input
    type="text"
    [(ngModel)]="query"
    (input)="onSearch()"
    [placeholder]="placeholder"
    class="w-full px-3 py-1.5 text-sm border-custom"
  />
  <ul
    *ngIf="filteredItems.length > 0 && query"
    class="absolute z-10 shadow-md mt-1 w-full max-h-32 overflow-y-auto text-sm border-custom bg-foreground"
  >
    <li
      *ngFor="let item of filteredItems"
      (click)="selectItem(item)"
      class="px-3 py-1 hover:cursor-pointer"
    >
      {{ item[displayKey] }} (Stock: {{ item["stock"] }})
    </li>
  </ul>
</div>
