<li>
    <ng-container *ngIf="isExpandable">
        <button type="button" (click)="toggleExpand()"
            class="flex justify-between w-full p-1 rounded-lg hover:bg-gray-100 transition ">
            <div class="flex">
                <mat-icon class="text-gray-500 text-sm ">{{ icon }}</mat-icon>
                <span class="ml-1">{{ label }}</span>
            </div>
            <mat-icon class="transition " [ngClass]="{ 'rotate-180': isExpanded }">expand_more</mat-icon>
        </button>

        <ul *ngIf="isExpanded" class="pl-2 py-1 space-y-1">
            <ng-content></ng-content>
        </ul>

    </ng-container>

    <!-- Regular Menu Item -->
    <ng-container *ngIf="!isExpandable">
        <button type="button" [routerLink]="routerLink" routerLinkActive="text-primary-600"
            class="flex items-center w-full p-1 rounded-lg hover:bg-gray-100 transition">
            <mat-icon class="text-gray-500 text-sm">{{ icon }}</mat-icon>
            <span class="ml-1">{{ label }}</span>
            <div></div>
        </button>
    </ng-container>
</li>