<section class="">
  <div class="flex flex-row mx-auto justify-between">
    <div class="items-center justify-center md:mt-10">
      <div
        class="flex flex-col items-center max-w-md justify-center h-full m-16 md:m-1"
      >
        <h1 class="text-5xl font-semibold max-w-md min-w-96 items-center">
          Future-Ready Financial Management
        </h1>

        <h2 class="mt-5">
          Simplify your business operations and take control of your finances
          with Ovovex.
        </h2>

        <div class="flex justify-start w-full">
          <div class="flex flex-wrap gap-4 mt-10">
            <a
              href="#"
              class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary"
            >
              Get Started
            </a>
            <a
              href="#"
              class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center border rounded-lg focus:ring-4"
            >
              Contact Sales
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden md:flex items-start justify-end">
      <img
        src="assets/images/hero-image.webp"
        alt="hero image"
        class="object-cover"
      />
    </div>
  </div>
</section>
