<section class="">
  <div class="flex flex-row mx-auto">
    <div class="place-self-center mx-52 my-20">
      <div class="flex flex-col">
        <h1 class="text-5xl font-semibold">
          Future-Ready Financial Management
        </h1>

        <h2 class="mt-5">
          Simplify your business operations and take control of your finances
          with Ovovex.
        </h2>

        <div class="flex flex-wrap gap-4 mt-10">
          <a
            href="#"
            class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary"
          >
            Get Started
          </a>
          <a
            href="#"
            class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center border rounded-lg focus:ring-4"
          >
            Contact Sales
          </a>
        </div>
      </div>
    </div>

    <div class="w-3/4 items-end">
      <div class="w-full h-full">
        <img src="assets/images/hero-image.webp" alt="hero image" class="" />
      </div>
    </div>
  </div>
</section>
