<section class="">
  <div class="flex flex-row mx-auto justify-between py-20">


    <div class="flex  items-center">
      <div class="">
        <img src="assets/images/hero-side.webp" alt="hero image" class="object-cover" />
      </div>
      <div class="">
        <div class="flex flex-col px-12">
          <h1 class="text-5xl font-semibold max-w-lg  items-center">
            Empower Your Business with Smart <span class="text-primary">Financial Management</span>
          </h1>

          <h2 class="mt-5 max-w-lg  text-sm">
            Revolutionize the way you manage your finances with Ovovex, a cutting-edge solution designed for growth and
            simplicity.<br />Ovovex combines innovation and expertise to help your business thrive.
          </h2>

          <div class="flex justify-start w-full">
            <div class="flex flex-wrap gap-4 mt-6">
              <a href="#"
                class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary">
                Get Started
              </a>
              <a href="#"
                class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center border rounded-lg focus:ring-4">
                Contact Sales
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="hidden md:flex items-start justify-end">
      <img src="assets/images/hero-image.webp" alt="hero image" class="object-cover" />
    </div>
  </div>
</section>