<section class="w-full py-16 px-6 lg:px-24 lg:py-32">
    <!-- Contact Us Header -->
    <div class="text-center mb-12">
        <h1 class="text-5xl font-extrabold text-gray-800">We’re Here to Help</h1>

    </div>

    <!-- Main Section -->
    <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-12">
        <!-- Contact Form -->
        <div class="bg-white shadow-xl rounded-lg p-8">
            <form class="space-y-6">
                <!-- Name -->
                <div>
                    <input type="text" id="name"
                        class="w-full border border-gray-300 rounded-lg p-3 focus:ring focus:ring-blue-500 focus:outline-none"
                        placeholder="Enter your name" />
                </div>
                <!-- Email -->
                <div>
                    <input type="email" id="email"
                        class="w-full border border-gray-300 rounded-lg p-3 focus:ring focus:ring-blue-500 focus:outline-none"
                        placeholder="Enter your email" />
                </div>
                <!-- Message -->
                <div>
                    <textarea id="message" rows="5"
                        class="w-full border border-gray-300 rounded-lg p-3 focus:ring focus:ring-blue-500 focus:outline-none"
                        placeholder="Leave a meesage"></textarea>
                </div>
                <!-- Submit Button -->
                <div class="text-right">
                    <button type="submit"
                        class="bg-primary text-white py-3 px-6 rounded-lg shadow-md hover:bg-blue-700 transition">
                        Send Message
                    </button>
                </div>
            </form>
        </div>

        <!-- Contact Details -->
        <div class="flex flex-col justify-center bg-primary text-white p-8 rounded-lg shadow-xl ">
            <h2 class="text-3xl font-bold mb-6">Reach Us</h2>

            <h3 class="font-bold text-lg">Direct Contact:</h3>
            <p class=" text-white">
                <strong>Email: </strong> <a href="mailto:support@ovovex.com"
                    class="underline">support&#64;ovovex.com</a>
            </p>
            <p class="mb-4 text-white">
                <strong>Phone: </strong> <a href="tel:+96212345678" class="underline">+962 123 456 78</a>
            </p>

            <h3 class="font-bold text-lg">Support Hours: </h3>

            <p class="text-white max-w-sm">
                Monday to Friday, 9 AM - 5 PM. Our team will get back to you as soon as possible.
            </p>
        </div>
    </div>
</section>