table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
  }
  
  th {
    background-color: #f7fafc;
    font-weight: bold;
  }
  
  input {
    outline: none;
  }
  
  button {
    cursor: pointer;
  }
  
  #printableInvoice {
    position: relative;
    min-height: 297mm;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #000000;
    background-color: white;
}

@media print {
    #printableInvoice {
        page-break-after: always;
    }

    .footer {
        position: fixed;
        bottom: 0;
    }
}
