<div class="invoice-list">

    <!-- Search Input for Accounts -->
    <app-search-input [items]="accounts" [displayKey]="'name'" [label]="'Select Account'"
        placeholder="Search accounts..." (selected)="onAccountSelected($event)">
    </app-search-input>


    <div class="mt-5">
        <app-data-table [columns]="[
        { label: 'Invoice Number', key: 'invoiceNumber' },
        { label: 'Client Name', key: 'clientName' },
        { label: 'Total Amount', key: 'totalAmount' },
        { label: 'Date', key: 'date' }
      ]" [data]="filteredInvoices" (rowClicked)="onInvoiceClicked($event)">
        </app-data-table>
    </div>

</div>