<div class="invoice-list">

    <!-- Search Input for Accounts -->
    <app-search-input [items]="accounts" [displayKey]="'name'" [label]="'Select Account'"
        placeholder="Search accounts..." (selected)="onAccountSelected($event)">
    </app-search-input>
  
    <!-- Invoice Table -->
<!-- invoice-list.component.html -->

<div class="mt-5">
    <app-data-table
      [columns]="columns"
      [data]="filteredInvoices"
      (rowClicked)="onInvoiceClicked($event)">
    </app-data-table>
  </div>
  
  
  </div>
  