<table class="w-full text-sm text-left border-collapse">
  <thead>
    <tr>
      <th *ngFor="let col of columns" class="px-4 py-3">{{ col.label }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data" (click)="onRowClick(row)" class="cursor-pointer">
      <td *ngFor="let col of columns" class="px-4 py-3">
        <ng-container *ngIf="col.key !== 'actions'; else actionsCell">
          {{ row[col.key] }}
        </ng-container>
        <ng-template #actionsCell>
          <button *ngFor="let action of row[col.key]" (click)="handleAction(action, row)"
            class="px-2 py-1 rounded text-white" [ngClass]="action.style || 'bg-primary hover:bg-primary'">
            {{ action.label }}
          </button>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>